/* Defining my main selectors */
:root {
    --btn-color: #64BC26;
    --color-darkblue: #1b1b32;
    --color-darkblue-alpha: rgba(27, 27, 50, 0.8);  
    
    --ff-primary: "Mulish", sans-serif;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

/* Setting my margins to 0 */
body,
h1,
h2,
h3,
p {
margin: 0;
}

/* Background */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: var(--color-darkblue);
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

/* Main section */
body {
    font-family: var(--ff-primary);
}

h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    line-height: 2;
}

p {
    font-size: 1.125em;
    font-weight: 400;
}

.text-center {
    text-align: center;
}

label {
    display: flex;
    align-items: center;
    margin: 0.5em;
}

button {
    border: none;
}

main {
    padding: 3em;
    width: 100%;
}

#description {
    margin-bottom: 3em;
}

.clue {
    padding-left: 0.1em;
}



/* Form elements */
form {
    background: var(--color-darkblue-alpha);
    border-radius: 0.5em;
    padding: 2rem;
}

.form-group {
    margin: 0 auto 1.25rem auto;
    padding: 0.25rem;

}

.form-control {
    display: block;
    width: 100%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

.submit-button {
    display: block;
    width: 100%;
    padding: 0.75rem;
    background: var(--btn-color);
    color: inherit;
    border-radius: 2px;
    cursor: pointer;
}

.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 0.625rem;
  min-height: 1.25rem;
  min-width: 1.25rem;
}