/* Defining my main selectors */
:root {
    --main-clr: #BE0027;
    --secondary-clr: #00BE97;
    --terciary-clr: #92F708;
    --btn-color: #64BC26;   
    
    --ff-primary: "Mulish", sans-serif;
}

*,
*::before,
*::after {
box-sizing: border-box;
}

/* Setting my margins to 0 */
body,
h1,
h2,
h3,
p {
margin: 0;
}

/* Background */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    background-color: #d19592;
    background-image: linear-gradient(
        315deg, 
        #d19592 0%, 
        #c81f70 74%
    );
    background-size: cover;
    background-repeat: no-repeat;
}

/* Main section */
body {
    font-family: var(--ff-primary);
    font-size: calc(0.625vmin + 0.825rem);
}

#title {

}

.text-center {
    text-align: center;
}
/* Form elements */